* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: bolder;
}

body {
    font-family: "Montserrat";
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}


@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  /* =======================================================
  *
  * 	Template Style 
  *	Edit this section
  *
  * ======================================================= */
  body {
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background: #fff;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
  }
  body.fh5co-offcanvas {
    overflow: hidden;
  }
  
  a {
    color: #ff5722;
    -webkit-transition: 0.5s, ease;
    -o-transition: 0.5s, ease;
    transition: 0.5s, ease;
  }
  a:hover {
    text-decoration: none !important;
    color: #ff5722 !important;
  }
  
  p, ul, ol {
    margin-bottom: 1.5em;
    font-size: 16px;
    color: #848484;
    font-family: "Open Sans", Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #5a5a5a;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  
  figure {
    margin-bottom: 2em;
  }
  
  ::-webkit-selection {
    color: #fcfcfc;
    background: #ff5722;
  }
  
  ::-moz-selection {
    color: #fcfcfc;
    background: #ff5722;
  }
  
  ::selection {
    color: #fcfcfc;
    background: #ff5722;
  }
  
  #fh5co-header {
    position: relative;
    margin-bottom: 0;
    z-index: 9999999;
  }
  
  .stuck {
    position: fixed !important;
    top: 0 !important;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  }
  
  .header-top {
    padding: 10px 0;
    background: #ff5722;
  }
  .header-top .fh5co-link a {
    margin-left: 10px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
  }
  .header-top .fh5co-link a:first-child {
    margin-left: 0;
  }
  .header-top .fh5co-link a:hover {
    color: white !important;
  }
  @media screen and (max-width: 768px) {
    .header-top .fh5co-link {
      text-align: center;
    }
  }
  .header-top .fh5co-social a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-right: 15px;
    position: relative;
    -webkit-transition: 0.5s, ease-in-out;
    -o-transition: 0.5s, ease-in-out;
    transition: 0.5s, ease-in-out;
  }
  .header-top .fh5co-social a:last-child {
    margin-right: 0;
  }
  .header-top .fh5co-social a:hover, .header-top .fh5co-social a:focus, .header-top .fh5co-social a:active {
    text-decoration: none;
    color: white !important;
  }
  .header-top .fh5co-social a:hover i, .header-top .fh5co-social a:focus i, .header-top .fh5co-social a:active i {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  @media screen and (max-width: 768px) {
    .header-top .fh5co-social {
      text-align: center !important;
    }
  }
  
  .fh5co-cover,
  .fh5co-hero {
    position: relative;
    height: 800px;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover,
    .fh5co-hero {
      height: 700px;
    }
  }
  .fh5co-cover.fh5co-hero-2,
  .fh5co-hero.fh5co-hero-2 {
    height: 600px;
  }
  .fh5co-cover.fh5co-hero-2 .fh5co-overlay,
  .fh5co-hero.fh5co-hero-2 .fh5co-overlay {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .fh5co-overlay {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(66, 64, 64, 0.9);
    background: rgba(0, 0, 0, 0.2);
  }
  
  .fh5co-cover {
    background-size: cover;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover {
      heifght: inherit;
      padding: 3em 0;
    }
  }
  .fh5co-cover .btn {
    padding: 1em 2em;
    opacity: .9;
  }
  .fh5co-cover.fh5co-cover_2 {
    height: 600px;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover.fh5co-cover_2 {
      heifght: inherit;
      padding: 3em 0;
    }
  }
  .fh5co-cover .desc {
    top: 50%;
    position: absolute;
    width: 100%;
    margin-top: -80px;
    z-index: 2;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover .desc {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .fh5co-cover .desc h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 300 !important;
  }
  .fh5co-cover .desc h2 strong {
    font-weight: 700;
  }
  @media screen and (max-width: 768px) {
    .fh5co-cover .desc h2 {
      font-size: 40px;
    }
  }
  .fh5co-cover .desc span {
    display: block;
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 1px;
  }
  .fh5co-cover .desc span a {
    color: #fff;
  }
  .fh5co-cover .desc span a:hover, .fh5co-cover .desc span a:focus {
    color: #fff !important;
  }
  .fh5co-cover .desc span a:hover.btn, .fh5co-cover .desc span a:focus.btn {
    border: 2px solid #fff !important;
    background: transparent !important;
  }
  .fh5co-cover .desc span a.fh5co-site-name {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  /* Superfish Override Menu */
  .sf-menu {
    margin: 7px 0 0 0 !important;
  }
  
  .sf-menu {
    float: right;
  }
  
  .sf-menu ul {
    box-shadow: none;
    border: transparent;
    min-width: 12em;
    *width: 12em;
  }
  
  .sf-menu a {
    color: rgba(0, 0, 0, 0.5);
    padding: 0.75em 1em !important;
    font-weight: normal;
    border-left: none;
    border-top: none;
    border-top: none;
    text-decoration: none;
    zoom: 1;
    font-size: 16px;
    border-bottom: none !important;
  }
  .sf-menu a:hover, .sf-menu a:focus {
    color: #ff5722 !important;
  }
  
  .sf-menu li.active a:hover, .sf-menu li.active a:focus {
    color: #ff5722;
  }
  
  .sf-menu li,
  .sf-menu ul li,
  .sf-menu ul ul li,
  .sf-menu li:hover,
  .sf-menu li.sfHover {
    background: transparent;
  }
  
  .sf-menu ul li a,
  .sf-menu ul ul li a {
    text-transform: none;
    padding: 0.2em 1em !important;
    letter-spacing: 1px;
    font-size: 14px !important;
  }
  
  .sf-menu li:hover a,
  .sf-menu li.sfHover a,
  .sf-menu ul li:hover a,
  .sf-menu ul li.sfHover a,
  .sf-menu li.active a {
    color: #ff5722;
  }
  
  .sf-menu ul li:hover,
  .sf-menu ul li.sfHover {
    background: transparent;
  }
  
  .sf-menu ul li {
    background: transparent;
  }
  
  .sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #ccc;
  }
  
  .sf-arrows > li > .sf-with-ul:focus:after,
  .sf-arrows > li:hover > .sf-with-ul:after,
  .sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #ccc;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #ccc;
  }
  
  .sf-arrows ul li > .sf-with-ul:focus:after,
  .sf-arrows ul li:hover > .sf-with-ul:after,
  .sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #ccc;
  }
  
  #fh5co-header-section {
    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 1022;
    background: #fff;
  }
  
  .nav-header {
    position: relative;
    float: left;
    width: 100%;
  }
  
  #fh5co-logo {
    position: relative;
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 35px;
    font-weight: 700;
    float: left;
  }
  #fh5co-logo span {
    font-weight: 700;
  }
  @media screen and (max-width: 768px) {
    #fh5co-logo {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  #fh5co-logo a {
    color: #ff5722;
  }
  #fh5co-logo a:hover, #fh5co-logo a:focus {
    color: #ff5722 !important;
  }
  
  #fh5co-menu-wrap {
    position: relative;
    z-index: 2;
    display: block;
    float: right;
    margin-top: 15px;
  }
  #fh5co-menu-wrap .sf-menu a {
    padding: 1em .75em;
  }
  
  #fh5co-primary-menu > li > ul li.active > a {
    color: #ff5722 !important;
  }
  #fh5co-primary-menu > li > .sf-with-ul:after {
    border: none !important;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    float: right;
    margin-right: -0px;
    top: 50%;
    font-size: 12px;
    margin-top: -7px;
    content: "\e922";
    color: rgba(0, 0, 0, 0.5);
  }
  #fh5co-primary-menu > li > ul li {
    position: relative;
  }
  #fh5co-primary-menu > li > ul li > .sf-with-ul:after {
    border: none !important;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    float: right;
    margin-right: 10px;
    top: 20px;
    font-size: 12px;
    content: "\e924";
    color: rgba(0, 0, 0, 0.5);
  }
  
  #fh5co-primary-menu .fh5co-sub-menu {
    padding: 10px 7px 10px;
    background: #fff;
    left: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
  #fh5co-primary-menu .fh5co-sub-menu > li > .fh5co-sub-menu {
    left: 100%;
  }
  
  #fh5co-primary-menu .fh5co-sub-menu:before {
    position: absolute;
    top: -9px;
    left: 20px;
    width: 0;
    height: 0;
    content: '';
  }
  
  #fh5co-primary-menu .fh5co-sub-menu:after {
    position: absolute;
    top: -8px;
    left: 21px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    content: '';
  }
  
  #fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
    top: 6px;
    left: 100%;
  }
  
  #fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
    top: 7px;
    right: 100%;
    border: none !important;
  }
  
  .site-header.has-image #primary-menu .sub-menu {
    border-color: #ebebeb;
    -webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    -ms-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  }
  .site-header.has-image #primary-menu .sub-menu:before {
    display: none;
  }
  
  #fh5co-primary-menu .fh5co-sub-menu a {
    letter-spacing: 0;
    padding: 0 15px;
    font-size: 18px;
    line-height: 34px;
    color: #575757 !important;
    text-transform: none;
    background: none;
  }
  #fh5co-primary-menu .fh5co-sub-menu a:hover {
    color: #ff5722 !important;
  }
  
  #fh5co-work-section,
  #fh5co-services-section,
  #fh5co-content-section,
  #fh5co-work-section_2,
  #fh5co-blog-section,
  #fh5co-features {
    padding: 7em 0;
  }
  @media screen and (max-width: 768px) {
    #fh5co-work-section,
    #fh5co-services-section,
    #fh5co-content-section,
    #fh5co-work-section_2,
    #fh5co-blog-section,
    #fh5co-features {
      padding: 4em 0;
    }
  }
  
  .fh5co-section-gray {
    background: rgba(0, 0, 0, 0.04);
  }
  
  .heading-section {
    padding-bottom: 1em;
    margin-bottom: 5em;
  }
  .heading-section:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    height: 2px;
    background: #ff5722;
  }
  .heading-section h3 {
    font-size: 40px;
    font-weight: 300;
    position: relative;
  }
  .heading-section p {
    font-size: 20px;
  }
  
  .feature-text h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #000;
    letter-spacing: .2em;
  }
  .feature-text h3 .number {
    margin-right: 5px;
    color: #ff5722;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .feature-text p {
    font-size: 16px;
  }
  
  .services {
    background: #ff5722;
    background: #fff;
    padding: 40px 20px 20px 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .services:hover, .services:focus, .services:active {
    -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  }
  .services span {
    margin-bottom: 30px;
    display: block;
    width: 100%;
  }
  .services span i {
    font-size: 40px;
    color: #ff5722 !important;
  }
  .services h3 {
    font-size: 20px;
    font-weight: 400;
    color: #ff5722;
  }
  .services p {
    font-size: 16px;
    color: gray;
  }
  
  .feature-left {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }
  .feature-left .icon {
    float: left;
    text-align: center;
    width: 15%;
  }
  @media screen and (max-width: 992px) {
    .feature-left .icon {
      width: 10%;
    }
  }
  @media screen and (max-width: 768px) {
    .feature-left .icon {
      width: 15%;
    }
  }
  .feature-left .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    color: #ff5722;
  }
  .feature-left .feature-copy {
    float: right;
    width: 80%;
  }
  @media screen and (max-width: 992px) {
    .feature-left .feature-copy {
      width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    .feature-left .feature-copy {
      width: 85%;
    }
  }
  @media screen and (max-width: 480px) {
    .feature-left .feature-copy {
      width: 80%;
    }
  }
  .feature-left .feature-copy h3 {
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  .feature-left .feature-copy p {
    font-size: 16px;
    line-height: 1.8;
  }
  
  #fh5co-portfolio {
    padding: 7em 0;
    min-height: 500px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-portfolio {
      padding: 3em 0;
    }
  }
  
  #fh5co-portfolio-list {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #fh5co-portfolio-list li {
    display: block;
    padding: 0;
    margin: 0 0 10px 1%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative;
  }
  @media screen and (max-width: 480px) {
    #fh5co-portfolio-list li {
      margin-left: 0;
    }
  }
  #fh5co-portfolio-list li a {
    min-height: 400px;
    padding: 2em;
    position: relative;
    width: 100%;
    display: block;
  }
  #fh5co-portfolio-list li a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 80;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: transparent;
  }
  #fh5co-portfolio-list li a:hover:before {
    background: rgba(0, 0, 0, 0.5);
  }
  #fh5co-portfolio-list li a .case-studies-summary {
    width: auto;
    bottom: 2em;
    left: 2em;
    right: 2em;
    position: absolute;
    z-index: 100;
  }
  @media screen and (max-width: 768px) {
    #fh5co-portfolio-list li a .case-studies-summary {
      bottom: 1em;
      left: 1em;
      right: 1em;
    }
  }
  #fh5co-portfolio-list li a .case-studies-summary span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
  }
  #fh5co-portfolio-list li a .case-studies-summary h2 {
    color: #fff;
    margin-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    #fh5co-portfolio-list li a .case-studies-summary h2 {
      font-size: 20px;
    }
  }
  #fh5co-portfolio-list li.two-third {
    width: 65.6%;
  }
  @media screen and (max-width: 768px) {
    #fh5co-portfolio-list li.two-third {
      width: 49%;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-portfolio-list li.two-third {
      width: 100%;
    }
  }
  #fh5co-portfolio-list li.one-third {
    width: 32.3%;
  }
  @media screen and (max-width: 768px) {
    #fh5co-portfolio-list li.one-third {
      width: 49%;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-portfolio-list li.one-third {
      width: 100%;
    }
  }
  #fh5co-portfolio-list li.one-half {
    width: 49%;
  }
  @media screen and (max-width: 480px) {
    #fh5co-portfolio-list li.one-half {
      width: 100%;
    }
  }
  
  #fh5co-features {
    padding: 4em 0;
  }
  #fh5co-features .feature-left {
    margin-bottom: 0;
  }
  @media screen and (max-width: 992px) {
    #fh5co-features .feature-left {
      margin-bottom: 30px;
    }
  }
  #fh5co-features .feature-left .icon i {
    color: #d9d9d9 !important;
  }
  #fh5co-features .feature-left .icon {
    float: left;
    text-align: center;
    width: 15%;
  }
  @media screen and (max-width: 992px) {
    #fh5co-features .feature-left .icon {
      width: 10%;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-features .feature-left .icon {
      width: 15%;
    }
  }
  #fh5co-features .feature-left .feature-copy {
    float: right;
    width: 80%;
  }
  @media screen and (max-width: 992px) {
    #fh5co-features .feature-left .feature-copy {
      width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-features .feature-left .feature-copy {
      width: 85%;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-features .feature-left .feature-copy {
      width: 80%;
    }
  }
  #fh5co-features .feature-left h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  #fh5co-features .feature-left p {
    font-size: 15px;
  }
  #fh5co-features .feature-left p:last-child {
    margin-bottom: 0;
  }
  
  #fh5co-feature-product {
    padding: 7em 0;
  }
  
  #fh5co-services, #fh5co-about, #fh5co-contact {
    padding: 7em 0;
  }
  @media screen and (max-width: 768px) {
    #fh5co-services, #fh5co-about, #fh5co-contact {
      padding: 4em 0;
    }
  }
  
  #fh5co-services .fh5co-number {
    font-size: 30px;
    color: #ff5722;
    position: relative;
    padding-top: 10px;
    font-style: italic;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  #fh5co-services .fh5co-number:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background: #ff5722;
  }
  #fh5co-services .fh5co-icon {
    margin-bottom: 30px;
    margin-top: 50px;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  @media screen and (max-width: 768px) {
    #fh5co-services .fh5co-icon {
      margin-top: 0px;
      float: none;
    }
  }
  #fh5co-services .fh5co-icon i {
    font-size: 200px;
    color: #ff5722;
  }
  @media screen and (max-width: 768px) {
    #fh5co-services .fh5co-icon i {
      font-size: 100px;
    }
  }
  
  #fh5co-contact .contact-info {
    margin: 0;
    padding: 0;
  }
  #fh5co-contact .contact-info li {
    list-style: none;
    margin: 0 0 20px 0;
    position: relative;
    padding-left: 40px;
  }
  #fh5co-contact .contact-info li i {
    position: absolute;
    top: .3em;
    left: 0;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.3);
  }
  #fh5co-contact .contact-info li a {
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.3);
  }
  #fh5co-contact .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 400;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
  }
  #fh5co-contact .form-control:focus, #fh5co-contact .form-control:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  #fh5co-contact input[type="text"] {
    height: 50px;
  }
  #fh5co-contact .form-group {
    margin-bottom: 30px;
  }
  
  .fh5co-testimonial, .fh5co-team {
    position: relative;
    background: #fff;
    padding: 4em 0;
    border-radius: 5px;
  }
@media screen and (max-width: 768px) {
    .fh5co-testimonial, .fh5co-team {
      border-right: 0;
      margin-bottom: 80px;
    }
  }
  .fh5co-testimonial h2, .fh5co-team h2 {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .fh5co-testimonial figure, .fh5co-team figure {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -65px;
    background-size: cover;
  }
  .fh5co-testimonial figure img, .fh5co-team figure img {
    width: 130px;
    height: 130px;
    border: 10px solid #fff;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .fh5co-testimonial > div, .fh5co-team > div {
    padding: 30px 30px 0 30px;
  }
  .fh5co-testimonial > div h3, .fh5co-team > div h3 {
    margin-bottom: 0;
    font-size: 20px;
    color: #ff5722;
  }
  .fh5co-testimonial > div .position, .fh5co-team > div .position {
    color: #d9d9d9;
    margin-bottom: 30px;
  }
  .fh5co-testimonial > div,
  .fh5co-testimonial blockquote, .fh5co-team > div,
  .fh5co-team blockquote {
    border: none;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .fh5co-testimonial > div p,
  .fh5co-testimonial blockquote p, .fh5co-team > div p,
  .fh5co-team blockquote p {
    font-size: 18px;
    line-height: 1.6em;
    color: #555555;
  }
  .fh5co-testimonial span, .fh5co-team span {
    font-style: italic;
    color: #b3b3b3;
  }
  
  .fh5co-blog {
    margin-bottom: 60px;
  }
  .fh5co-blog a img {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .fh5co-blog {
      width: 100%;
    }
  }
  .fh5co-blog .blog-text {
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    width: 90%;
    padding: 30px;
    float: right;
    margin-top: -5em;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  }
  .fh5co-blog .blog-text span {
    display: inline-block;
    margin-bottom: 20px;
  }
  .fh5co-blog .blog-text span.posted_by {
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
  }
  .fh5co-blog .blog-text span.comment {
    float: right;
  }
  .fh5co-blog .blog-text span.comment a {
    color: rgba(0, 0, 0, 0.3);
  }
  .fh5co-blog .blog-text span.comment a i {
    color: #ff5722;
    padding-left: 7px;
  }
  .fh5co-blog .blog-text h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.5;
  }
  .fh5co-blog .blog-text h3 a {
    color: rgba(0, 0, 0, 0.6);
  }
  
  #fh5co-start-project-section {
    padding: 7em 0;
    background: #F64E8B;
  }
  #fh5co-start-project-section h2 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
  }
  @media screen and (max-width: 768px) {
    #fh5co-start-project-section h2 {
      font-size: 30px;
    }
  }
  #fh5co-start-project-section a:hover, #fh5co-start-project-section a:focus, #fh5co-start-project-section a:active {
    color: white !important;
  }
  
  #map {
    width: 100%;
    height: 500px;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px;
    }
  }
  
  .fh5co-social-icons > a {
    padding: 4px 10px;
    color: #ff5722;
  }
  .fh5co-social-icons > a i {
    font-size: 26px;
  }
  .fh5co-social-icons > a:hover, .fh5co-social-icons > a:focus, .fh5co-social-icons > a:active {
    text-decoration: none;
    color: #5a5a5a;
  }
  
  #footer {
    background: #ff5722;
    padding: 60px 0 40px;
  }
  #footer p {
    color: white;
    font-size: 14px;
  }
  #footer p a {
    color: rgba(255, 255, 255, 0.5);
  }
  #footer p a:hover, #footer p a:active, #footer p a:focus {
    color: rgba(255, 255, 255, 0.9) !important;
  }
  
  .btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn.btn-primary {
    background: #ff5722;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
  }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    box-shadow: none;
    background: #ff5722;
    color: #fff !important;
  }
  .btn:hover, .btn:active, .btn:focus {
    background: #393e46 !important;
    color: #fff;
    outline: none !important;
  }
  .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: transparent;
  }
  
  .js .animate-box {
    opacity: 0;
  }
  
  #fh5co-wrapper {
    overflow-x: hidden;
    position: relative;
  }
  
  .fh5co-offcanvas {
    overflow: hidden;
  }
  .fh5co-offcanvas #fh5co-wrapper {
    overflow: hidden !important;
  }
  
  #fh5co-page {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .fh5co-offcanvas #fh5co-page {
    -moz-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }
  
  @media screen and (max-width: 768px) {
    #fh5co-menu-wrap {
      display: none;
    }
  }
  
  #offcanvas-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: #222;
    right: -240px;
    width: 240px;
    padding: 20px;
    overflow-y: scroll !important;
    display: none;
  }
  @media screen and (max-width: 768px) {
    #offcanvas-menu {
      display: block;
    }
  }
  #offcanvas-menu ul {
    padding: 0;
    margin: 0;
  }
  #offcanvas-menu ul li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
  }
  #offcanvas-menu ul li a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
  }
  #offcanvas-menu ul li a:hover {
    color: #ff5722;
  }
  #offcanvas-menu ul li > .fh5co-sub-menu {
    margin-top: 9px;
    padding-left: 20px;
  }
  #offcanvas-menu ul li.active > a {
    color: #ff5722;
  }
  #offcanvas-menu ul .fh5co-sub-menu {
    display: block !important;
  }
  
  .fh5co-nav-toggle {
    cursor: pointer;
    text-decoration: none;
  }
  .fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #fff;
  }
  .fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
    background: #fff;
  }
  .fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
  }
  .fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    transition: all .2s ease-out;
  }
  .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .fh5co-nav-toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    transition: all .2s ease-out;
  }
  .fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
    background: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  
  .fh5co-nav-toggle i::before {
    top: -7px;
  }
  
  .fh5co-nav-toggle i::after {
    bottom: -7px;
  }
  
  .fh5co-nav-toggle:hover i::before {
    top: -10px;
  }
  
  .fh5co-nav-toggle:hover i::after {
    bottom: -10px;
  }
  
  .fh5co-nav-toggle.active i {
    background: transparent;
  }
  
  .fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  
  .fh5co-nav-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    display: none;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
      display: block;
      top: 0px;
      margin-top: 2em;
    }
  }
  
  @media screen and (max-width: 480px) {
    .col-xxs-12 {
      float: none;
      width: 100%;
    }
  }
  
  .row-bottom-padded-lg {
    padding-bottom: 7em;
  }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
      padding-bottom: 2em;
    }
  }
  
  .row-top-padded-lg {
    padding-top: 7em;
  }
  @media screen and (max-width: 768px) {
    .row-top-padded-lg {
      padding-top: 2em;
    }
  }
  
  .row-bottom-padded-md {
    padding-bottom: 4em;
  }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-md {
      padding-bottom: 2em;
    }
  }
  
  .row-top-padded-md {
    padding-top: 4em;
  }
  @media screen and (max-width: 768px) {
    .row-top-padded-md {
      padding-top: 2em;
    }
  }
  
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
      padding-bottom: 2em;
    }
  }
  
  .row-top-padded-sm {
    padding-top: 2em;
  }
  @media screen and (max-width: 768px) {
    .row-top-padded-sm {
      padding-top: 2em;
    }
  }
  
  .border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }
  
  .lead {
    line-height: 1.8;
  }
  
  .no-js #loader {
    display: none;
  }
  
  .js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
  }
  
  .fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/hourglass.svg) center no-repeat #222222;
  }
  
  /*# sourceMappingURL=style.css.map */
  




/****** NAV-BAR ******/

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu";
    margin-left: 6rem;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover {
    transform: scale(1.04);
    color: #a00505;
    transition: 0.8s;
}

.navbar {
    padding: 0 0 0.3rem;
    right: 0;
    left: 0;
    top: 0;
    background: #ff6e7f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4682B4, #ff6e7f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4682B4, #ff6e7f);
    position: fixed;
    z-index: 10;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    margin-right: 5rem;
}

.nav-item {
    padding: 0 1.5rem;
}

.nav-item:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.nav-link {
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.nav-link:hover {
    background: #e91e63;
    box-shadow: inset 5px 5px 10px #5d0c28, inset -5px -5px 10px #ff309e;
    border-radius: 30px !important;
    color: white;
}

.navbarlogo {
    width: 240px;
    height: 160px;
    margin: -40px 23px;
    margin-left: -5px;
    margin-right: -130px;
    margin-bottom: -42px;
}

.navbarlogo:hover {
    cursor: pointer;
}







/****** TITLE  SECTION ******/
#title {
    /*background-color: gray;*/
    background: #ff6e7f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4682B4, #ff6e7f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4682B4, #ff6e7f);
    color: #fff;
    margin-top: 5rem;
}

.big-heading {
    font-size: 2rem;
    line-height: 1.5;
}

.title-image {
    position: absolute;
    width: 100%;
}

.container-fluid {
    padding: 10% 15% 4%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

#rzp-button1 {
    background-color: #e91e63;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    padding: 7px 12px;
    margin-top: 25px;
    border: 2px solid transparent;
    background: #e91e63;
    box-shadow: inset 5px 5px 10px #5d0c28, inset -5px -5px 10px #ff309e;
    border-radius: 30px !important;
}

#rzp-button1:hover {
    background-color: #b60c45;
}

#button {
    display: inline-block;
    background-color: #877ba1;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}






/****** FEATURES ******/
#features {
    padding: 7% 6%;
    z-index: 1;
    position: relative;
    background-color: #fffed5;
}

.secf {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.secf h2 {
    display: block;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.secf h2:hover {
    font-weight: 900;
    text-decoration: underline;
}

.sec-feature {
    border-left: 1px solid green;
    height: 40px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
}

.sec-feature label {
    border: 2px solid green;
    margin-top: 40px;
    margin-left: -50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
    padding: 10px 15px;
    display: inline-block;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    display: inline-block;
    margin: 0 60px;
}

.flip-card-inner {
    margin-top: 28px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner p {
    padding: 0.7rem;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: lavenderblush;
    color: purple;
}

.flip-card-back {
    background-color: white;
    /* border: white; */
    color: white;
    transform: rotateY(180deg);
}

.icon {
    margin-bottom: 1rem;
}

#icon1 {
    color: #cbfd17;
}

#icon2 {
    color: #69c4fd;
}

#icon3 {
    color: red;
}

p {
    color: #8f8f8f;
}

.feature-title {
    font-size: 1.3rem;
}





/******  TESTIMONIALS  ******/
#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* CALL TO ACTION */
#cta {
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 7% 15% 7%;
}


/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    /* background-image: linear-gradient(to bottom, rgb(70, 130, 180), rgb(255, 110, 127)); */
    background-color: #ff8e9bbd;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgb(145, 138, 138);
}

::-webkit-scrollbar-track {
    background-color: #c0e1f0;
}





/****** FAQS Section ******/
#faq {
    background: #ff6e7f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4682B4, #ff6e7f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4682B4, #ff6e7f);
    color: #fff;
    padding: 6% 10% 8%;
    justify-content: center;
    border: none !important;
}

#faq h2 {
    text-align: center;
    color: #000;
    font-size: 50px;
    font-weight: bolder;
}

.faq-container {
    width: 71.5vw;
    border-radius: 10px;
    margin: auto;
    padding: 20px 50px;
    margin-top: 110px;
    background: #e91e63;
    box-shadow: inset 5px 5px 10px #5d0c28, inset -5px -5px 10px #ff309e;
    border-radius: 30px;
    justify-content: space-between;
}

.question-div>p {
    padding: 5px 8px 1px 8px;
    color: white;
    font-size: 20px;
    display: inline-block;
}

.question-div i {
    float: right;
    color: white;
    font-size: 15px;
}

.answer {
    color: black;
    background-color: white;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #2b6ca1, inset -5px -5px 10px #ff309e;
    border-radius: 30px;
    padding: 30px 34px;
    overflow: hidden;
}

button {
    outline: none !important;
    text-decoration: none !important;
}

.accordion-button::after {
    color: white !important;
}

.accordion-button {
    border: none;
    outline: none;
    text-decoration: none;
}




/* Header Responsive */


@media screen and (max-width: 412px) {
    .big-heading {
        margin-top: 1.2rem;
        font-size: 1.7rem;
    }
    .navbar-brand {
        position: relative;
        top: 1.3rem;
    }
    .navbar-toggler {
        position: relative;
        margin-top: -2rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 365px) {
    .big-heading {
        font-size: 1.5rem;
    }
    .navbar-brand {
        font-size: 2rem;
        top: 1.1rem;
    }
}

@media screen and (max-width: 295px) {
    .big-heading {
        font-size: 1.3rem;
    }
    .navbar-brand {
        font-size: 1.6rem;
        top: 0.7rem;
    }
}

.title-image {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
    width: 24rem;
    height: 24rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-top: -100px;
    display: block;
    -webkit-transition: -webkit-transform 1s;
}

.title-image1 {
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
    width: 24rem;
    height: 24rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-top: 50px;
    margin-left: 280px;
    display: block;
    -webkit-transition: -webkit-transform 1s;
}

.title-image1:hover,
.title-image:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
    -webkit-transform: rotate(5deg)translateZ(0);
}






/******** Contact Us *******/
.contact {
    display: block;
    color: white;
    padding: 0 5%;
    background-color: #ffd1e1;
    background: #ff6e7f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7bfbe, #E6E6FA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6e7f, #E6E6FA);
    padding-top: 50px;
}

.contact h2 {
    display: block;
    width: 250px;
    justify-content: center;
    margin: 0px auto;
    font-size: 45px;
    text-align: center;
    color: black;
}

.contact h2:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.contact p {
    font-weight: bolder;
    font-size: 2rem;
    display: block;
    text-align: right;
    padding-right: 8rem;
    margin-top: 5rem;
    color: black;
}

@media only screen and (min-width: 800px)  {


.avatar {
    width: 500px;
    height: 500px;
    margin-top: -22rem;
    margin-left: 100px;
    background: url('images/contact_illustration.png');
    background-size: contain;
    transition: all .3s linear;
    transform-origin: 50%;
}
}
.contbutton {
    display: block;
    text-align: right;
}

.contbutton input{
    padding-right: 1rem;
    margin-top: 0.5rem;
    outline: none;
    margin-right: 13rem;
    border-radius: 36px;
    padding: 8px 30px;
    text-decoration: none;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(61, 61, 61);
}
.question{
  padding-right: 1rem;
  margin-top: 0.5rem;
  outline: none;
  margin-right: 3.3rem;
  border-radius: 36px;
  padding: 8px 30px;
  text-decoration: none;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(61, 61, 61);
}

.subbtn {
    display: block;
    text-align: right;
    padding-top: 10px;
}

.subbtn button {
    display: inline-block;
    width: 265px;
    height: 45px;
    border: none;
    text-align: center;
    margin-right: 13rem;
    font-size: 1.5rem;
    font-weight: bolder;
    background: #e91e63;
    box-shadow: inset 5px 5px 10px #5d0c28, inset -5px -5px 10px #ff309e;
    border-radius: 30px;
}

.subbtn :hover {
    background-color: #d60047;
    font-size: 1.6rem;
    color: white;
}






/*********** Footer **********/
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 70px;
    background: #111;
}

footer .container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

footer .container .sec {
    padding-right: 30px;
}

footer .container .sec.Aboutus {
    width: 30%;
    padding-right: 30px;
}

footer .container .sec.Aboutus h2 {
    position: relative;
}

footer .container .sec.Aboutus h2:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 190px;
    height: 2px;
    background: #fff;
}

footer p {
    color: #999;
}

.sci {
    display: flex;
    padding: 0;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #db198a;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.QuickLinks {
    position: relative;
    width: 25%;
}

.QuickLinks h2 {
    margin-bottom: 10px;
}

.QuickLinks u1 li {
    list-style: none;
}

.QuickLinks u1 li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.QuickLinks u1 li a:hover {
    color: #fff;
    padding-left: 5px;
    transition: all 0.5s ease;
}

footer .container .sec h2 {
    color: #fff;
    margin-bottom: 15px;
}

.copyrightText {
    width: 100%;
    padding-top: 40px;
    text-align: center;
}

.copyrightText p {
    margin: 0;
}

.form-control {
    color: #fff !important
}

.footer-widget p {
    margin-bottom: 27px;
    color: white;
}

p {
    font-family: 'Nunito', sans-serif;
    color: #8f8f8f;
    font-size: 16px;
    line-height: 28px;
}

.footer-detail {
    font-family: 'Nunito', sans-serif;
    color: #8f8f8f;
    font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
}

.animate-border {
    position: relative;
    display: block;
    width: 222px;
    height: 3.5px;
    margin-top: -13px;
    background: #007bff;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}



/* Animated heading border */

@keyframes primary-short {
    0% {
        width: 15%;
    }
    50% {
        width: 90%;
    }
    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
    margin-bottom: -10px;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}

.img-fluid {
    margin: -60px 15px;
}

.dk-footer-box-info {
    position: absolute;
    top: -71px;
    background: #202020;
    padding: 40px;
    margin: -4px 26px;
    z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    text-decoration: none;
    text-decoration-color: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    text-decoration: none;
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 15px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-info-text {
    margin: 26px 0 32px;
    color: white;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.category ul li a {
    text-decoration: none;
    color: white;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #007bff;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 12px 25px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

.category li {
    text-decoration: none;
    background: #444444;
    box-shadow: inset 5px 5px 10px #525252, inset -5px -5px 10px #353535;
    border-radius: 30px;
    width: 100px;
}

.category li a {
    padding: 20px 20px;
}

#gmailus {
    margin-right: 7px;
}

@media (max-width: 955px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1080px) {
    footer .container {
        display: flex;
        flex-direction: column;
    }
    footer .container .sec {
        width: 100%;
    }
    footer .container .sec.Aboutus {
        width: 100%;
    }
    footer .container .sec h2 {
        padding-top: 15px;
    }
}

/*** Title images adjustmest according to screen size ***/

@media screen and (max-width: 1377px) {
    .title-image1 {
        margin-top: 200px;
        margin-left: 25%;
    }
}

@media screen and (max-width: 992px) {
    .title-image {
        margin-top: 50px;
    }
    .title-image1 {
        margin-top: 50px;
        margin-left: 280px;
    }
}

@media screen and (max-width: 870px) {
    .title-image1, .title-image {
        position : static;
        padding: 35px 0;
        margin: 0px;
        width: 100%;
        height: 50%;

    }

}

